---
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: nagbot-deployment-dev
  annotations:
    flux.weave.works/automated: 'true'
    flux.weave.works/tag.nagbotongraph: glob:dev-*
spec:
  selector:
    matchLabels:
      app: nagbotdev
  replicas: 1 # tells deployment to run 1 pod matching the template
  template:
    metadata:
      labels:
        app: nagbotdev
    spec:
      containers:
      - name: nagbotongraph
        image: johnshew/nagbotongraph:dev-224
        imagePullPolicy: Always
        env:
        - name: appId
          valueFrom:
            secretKeyRef:
              name: envfile
              key: appId
        - name: appPassword
          valueFrom:
            secretKeyRef:
              name: envfile
              key: appPassword
        - name: mongoConnection
          valueFrom:
            secretKeyRef:
              name: envfile
              key: mongoConnection
        - name: luisId
          valueFrom:
            secretKeyRef:
              name: envfile
              key: luisId
        - name: luisKey
          valueFrom:
            secretKeyRef:
              name: envfile
              key: luisKey
        - name: DEPLOYMENT_ENV
          value: "dev"
        ports:
        - containerPort: 8080
          name: rest-port
        - containerPort: 3978
          name: bot-port
---
apiVersion: v1
kind: Service
metadata:
  name: nagbot-web-service-dev
  labels:
    app: nagbotdev
  annotations:
    prometheus.io/scrape: 'true'
spec:
  selector:
    app: nagbotdev
  ports:
  - name: nagbot-web-port
    protocol: TCP
    port: 80
    targetPort: rest-port
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: nagbot-bot-service-dev
  labels:
    app: nagbotdev
spec:
  selector:
    app: nagbotdev
  ports:
  - name: nagbot-bot-port
    protocol: TCP
    port: 80
    targetPort: bot-port
  type: LoadBalancer
